<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-12 my-4">
      <h1 class="text-center">Contatos</h1>
      <p class="text-center lead">
        Seus contatos.
      </p>

      <%- include('includes/messege') %>

      <% if(contatos.length > 0) { %>
      <div class="table-responsive">
        <table class="table table-striped my-2">
          <% contatos.forEach(contato => { %>
            <tr>
              <td><%= contato.nome %></td>
              <td><%= contato.sobrenome %></td>
              <td><%= contato.email %></td>
              <td><%= contato.telefone %></td>
              <td><a href="/contato/index/<%- contato._id %>">
                <i class="bi bi-pencil"></i>
              </a></td>
              <td><a class="text-danger" href="/contato/delete/<%- contato._id %>">
                <i class="bi bi-trash"></i>
              </a></i></td>
            </tr>
          <% }); %>
          <% } else { %>
            <p class="text-center lead">
              Você não tem nenhum contato cadastrado.
            </p>
          <% } %>
          
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>